.header{
  position: relative;
  z-index: 1;
  background: #FFF;
  box-shadow: 0px 1px 20px 0px rgba(72, 3, 38, 0.07);  
  padding: 28px 0;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  @media (max-width: 1024px){
    flex-direction: column;
  }   
  @media (max-width: 480px){
    gap: 20px;
  } 
}
.buttons{
  display: flex;
  align-items: center;
  gap: 30px;
  @media (max-width: 1024px){
    gap: 20px;
  }
  @media (max-width: 480px){
    flex-direction: column;
  } 
}
.button{
  width: 300px;
  height: 65px;
  border-radius: 30px;
  border: 0;
  font-weight: 700;
  font-size: 18px;
  background-color: #00c78b;
  color: #fff;
  @media (max-width: 1024px){
    width: 220px;
    height: 45px;
    font-size: 14px;
  }    
}
.button:active{
  border-radius: 30px;
}
